<div class="container-fluid position-fixed w-100 h-100 bg-gray-op-4" id="hiddenBlock" hidden>
    <div class="col-4 bg-white rounded position-absolute top-0 start-50 translate-middle-x mt-5 pt-3 pb-3" id="createMenu">
        <form id="form" class="container" action="/" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-4">
                    <h4>Название:</h4>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text" name="text" id="text-upload" required />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <h4>Токен:</h4>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text" name="text" id="text-upload" required />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-9"></div>
                <div class="col-3">
                    <button class="btn btn-primary active bg-black" type="button" id="#">Create bot</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <button class="btn btn-primary  mt-4 active  bg-black" type="button" id="showButton" onmousedown="showBlock()">
                    Create bot
            </button>
        </div>
    </div>
    <!-- При наличии ботов нужно будет показывать данный блок -->
    <!-- <h3 class="mt-2">Ваши боты</h3>
    <div class="row mt-2" id="#">
        <div class="col-3 border border-2">
            Бот ...
            <button class="btn btn-primary mt-4 bg-black" href="/bot:id" id="1"></button>
        </div>
        <div class="col-3 border border-2">
            Бот ...
        </div>
        <div class="col-3 border border-2">
            Бот ...
        </div>
    </div> -->
</div>
<script src="../scripts/script.js"></script>