<div class=container>
    <div class="row m-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-black" href="/">Home</a></li>
            <li class="breadcrumb-item text-black">Train</li>
        </ol>
    </div>
    <div class="col-6">
        <form class="container mt-2" action="/upload" method="post" enctype="multipart/form-data">
            <h4><%=bot.name%></h4>
            <fieldset>
                <div class="d-flex justify-content-end">
                <input class="form-control" type="file" name="uploadFile" id="file-upload" accept=".csv" required onchange="changeLoadButton()" />
                <button class="btn btn-primary bg-black m-auto ms-3" type="submit" id="loadButton" onclick="enableButtons();" disabled>Upload</button>
                </div>
                <small id="fileHelpBlock" class="form-text text-muted">Select a file with the csv extension</small>
            </fieldset>
            <div class="d-flex mt-4">
                <button class="btn btn-primary bg-black" id="learnModelButton" disabled>Train the model</button>
            </div>
        </form>
    </div>
    <div class="container" id="viewData">
    </div>
</div>