<form id="form" class="ms-5 mt-3" action="/" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="file-upload"></label>
                <input class="form-control" type="file" name="file" id="file-upload" accept=".csv" required />
            </div>
            <div class="col">
                <button class="btn btn-primary mt-4 bg-black" type="submit" id="submit">Train the model</button>
            </div>
        </div>
    </div>
</form>